{% extends 'layout.html' %}
{% block title %}
Login
{% endblock%}

{% block content%}


  <!-- who section -->

  <section class="who_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <p><br><br></p>
            <img src="static/images/16.jpg" width="200"  height="400" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                WHO WE ARE?
              </h2>
            </div>
            <p>
              I am Zahra Jafari. im master of software engineer from Islamic Azad University of Science and Research of Tehran.
              i have been working  in hospital as it assistance for 15 years. 
            </p>
            <div>
              <a href="../static/file/MyResume.pdf">
                download CV
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end who section -->


  {% endblock%}