{% extends 'layout.html' %}   

{% block title %}

about

{% endblock %}

{% block content %}  


  <!-- who section -->

  <section class="who_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <p><br><br></p>
            <img src="static/images/18.jpg" width="500"  height="300" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                WHAT IS AI ?
              </h2>
            </div>
            <p style="text-align: justify;">
              Artificial Intelligence (AI) works by simulating human intelligence through the use of algorithms, data, and computational power.
              The goal is to enable machines or software to perform tasks that typically require human intelligence, such as learning, reasoning, 
              problem-solving, perception, and language understanding.
            </p>
            <div>
              <a href="/login">
                login to Myapp
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %} 


  