{% extends 'layout.html' %}   

{% block title %}

about

{% endblock %}

{% block content %}  


  <!-- who section -->

  <section class="who_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <p><br><br></p>
            <img src="static/images/17.jpg" width="200"  height="400" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                WHAT IS Deepface ?
              </h2>
            </div>
            <p>
              Deepface is a lightweight facial analysis framework including face recognition and demography (age, gender, emotion and race)
              for Python. You can apply facial analysis with a few lines of code. It plans to bridge a gap between software engineering and machine learning studies.
            </p>
            <div>
              <a href="/login">
                login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %} 


  