{% extends 'layout.html' %}
{% block title %}
portfolio
{% endblock%}

{% block content%}
  <!-- work section -->
  <section class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          CREATIVE WORKS
        </h2>
        <p>
          For Request a projects,Fill the Contact Form . we call back soon ....
        </p>
      </div>
      <div class="work_container layout_padding2">
        <div class="box b-1">
          <img src="static/images/w-1.png" alt="">
        </div>
        <div class="box b-2">
          <img src="static/images/w-2.png" alt="">

        </div>
        <div class="box b-3">
          <img src="static/images/w-3.png" alt="">

        </div>
        <div class="box b-4">
          <img src="static/images/w-4.png" alt="">

        </div>
      </div>
    </div>
  </section>

  <!-- end work section -->

  {% endblock%}