<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
.table-container {
  width: 100%; /* Set the desired width */
  height: 300px; /* Set the desired height */
  overflow: auto; /* Enable scrolling */
}
</style>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/assets/vendor/bootstrap/css/bootstrap.min.css')}}">

  <!-- <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css"> -->
  <link href="{{url_for('static', filename='/assets/vendor/fonts/circular-std/style.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='/assets/libs/css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/assets/vendor/charts/chartist-bundle/chartist.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/assets/vendor/charts/morris-bundle/morris.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/assets/vendor/charts/c3charts/c3.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')}}">
  <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
  <meta name="robots" content="nindex, nofollow">
  </head>
  <body> 
  
  

<div class="dashboard-main-wrapper">



<div class="dashboard-header">
<nav class="navbar navbar-expand-lg bg-white fixed-top">
<a class="navbar-brand" href="index.html">Admin Panel</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse " id="navbarSupportedContent">
<ul class="navbar-nav ml-auto navbar-right-top">
<li class="nav-item">
<div id="custom-search" class="top-search-bar">
<input class="form-control" type="text" placeholder="Search..">
</div>
</li>
<li class="nav-item dropdown notification">
<a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
<ul class="dropdown-menu dropdown-menu-right notification-dropdown">
<li>
<div class="notification-title"> Notification</div>
<div class="notification-list">
<div class="list-group">
<a href="#" class="list-group-item list-group-item-action active">
<div class="notification-info">
<div class="notification-list-user-img"><img src="{{url_for('static', filename='//assets/images/avatar-2.jpg')}}" alt class="user-avatar-md rounded-circle"></div>
<div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
<div class="notification-date">2 min ago</div>
</div>
</div>
</a>
<a href="#" class="list-group-item list-group-item-action">
<div class="notification-info">
<div class="notification-list-user-img"><img src="{{url_for('static', filename='/assets/images/avatar-3.jpg')}}" alt class="user-avatar-md rounded-circle"></div>
<div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
<div class="notification-date">2 days ago</div>
</div>
</div>
</a>
<a href="#" class="list-group-item list-group-item-action">
<div class="notification-info">
<div class="notification-list-user-img"><img src="{{url_for('static', filename='/assets/images/avatar-4.jpg')}}" alt class="user-avatar-md rounded-circle"></div>
<div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
<div class="notification-date">2 min ago</div>
</div>
</div>
</a>
<a href="#" class="list-group-item list-group-item-action">
<div class="notification-info">
<div class="notification-list-user-img"><img src="{{url_for('static', filename='/assets/images/avatar-5.jpg')}}" alt class="user-avatar-md rounded-circle"></div>
<div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
<div class="notification-date">2 min ago</div>
</div>
</div>
</a>
</div>
</div>
</li>
<li>
<div class="list-footer"> <a href="#">View all notifications</a></div>
</li>
</ul>
</li>
<li class="nav-item dropdown connection">
<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
<ul class="dropdown-menu dropdown-menu-right connection-dropdown">
<li class="connection-list">
<div class="row">
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
<a href="#" class="connection-item"><img src="{{url_for('static', filename='/assets/images/github.png')}}" alt> <span>Github</span></a>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
<a href="#" class="connection-item"><img src="{{url_for('static', filename='/assets/images/dribbble.png')}}" alt> <span>Dribbble</span></a>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
<a href="#" class="connection-item"><img src="{{url_for('static', filename='/assets/images/dropbox.png')}}" alt> <span>Dropbox</span></a>
</div>
</div>
<div class="row">
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
<a href="#" class="connection-item"><img src="{{url_for('static', filename='/assets/images/bitbucket.png')}}" alt> <span>Bitbucket</span></a>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
<a href="#" class="connection-item"><img src="{{url_for('static', filename='/assets/images/mail_chimp.png')}}" alt><span>Mail chimp</span></a>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
<a href="#" class="connection-item"><img src="{{url_for('static', filename='/assets/images/slack.png')}}" alt> <span>Slack</span></a>
</div>
</div>
</li>
<li>
<div class="conntection-footer"><a href="#">More</a></div>
</li>
</ul>
</li>
<li class="nav-item dropdown nav-user">
<a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{url_for('static', filename='assets/images/avatar-1.jpg')}}" alt class="user-avatar-md rounded-circle"></a>
<div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
<div class="nav-user-info">
<h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
<span class="status"></span><span class="ml-2">Available</span>
</div>
<!-- <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a> -->
<!-- <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a> -->
<a class="dropdown-item" href="/Logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
</div>
</li>
</ul>
</div>
</nav>
</div>






<div class="nav-left-sidebar sidebar-dark">
<div class="menu-list">
<nav class="navbar navbar-expand-lg navbar-light">
<a class="d-xl-none d-lg-none" href="#">{{username1}}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav flex-column">
<li class="nav-divider">
Menu
</li>
<li class="nav-item ">
<a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
<div id="submenu-1" class="collapse submenu" style>
</div>
</li>
</ul>
</div>
</li>




</div>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu Level</a>
<div id="submenu-10" class="collapse submenu" style>
<ul class="nav flex-column">
<li class="nav-item">
<a class="nav-link" href="#">Level 1</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11">Level 2</a>
<div id="submenu-11" class="collapse submenu" style>
<ul class="nav flex-column">
<li class="nav-item">
<a class="nav-link" href="#">Level 1</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Level 2</a>
</li>
</ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Level 3</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</nav>
</div>
</div>






<div class="dashboard-wrapper">
<div class="dashboard-ecommerce">
<div class="container-fluid dashboard-content ">



<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="page-header">
<h2 class="pageheader-title">Dashboard</h2>
<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
<div class="page-breadcrumb">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><h3>{{username1 }} </h3></li>

</ol>
</nav>
</div>
</div>
</div>
</div>


<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
<div class="card">
  <div class="card-body ">
   
  <form method="post">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  
  <textarea class="form-control" id="exampleFormControlTextarea1" name="title" rows="1">{{topic.title}}</textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Text</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="10">{{topic.text}}</textarea>
</div>
<button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>
</div>

</div>
</div>

<script src="{{url_for('static', filename='/assets/vendor/jquery/jquery-3.3.1.min.js')}}"></script>

<script src="{{url_for('static', filename='/assets/vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>

<script src="{{url_for('static', filename='/assets/vendor/slimscroll/jquery.slimscroll.js')}}"></script>

<script src="{{url_for('static', filename='/assets/libs/js/main-js.js')}}"></script>

<script src="{{url_for('static', filename='/assets/vendor/charts/chartist-bundle/chartist.min.js')}}"></script>

<script src="{{url_for('static', filename='/assets/vendor/charts/sparkline/jquery.sparkline.js')}}"></script>

<script src="{{url_for('static', filename='/assets/vendor/charts/morris-bundle/raphael.min.js')}}"></script>
<script src="{{url_for('static', filename='/assets/vendor/charts/morris-bundle/morris.js')}}"></script>

<script src="{{url_for('static', filename='/assets/vendor/charts/c3charts/c3.min.js')}}"></script>
<script src="{{url_for('static', filename='/assets/vendor/charts/c3charts/d3-5.4.0.min.js')}}"></script>
<script src="{{url_for('static', filename='/assets/vendor/charts/c3charts/C3chartjs.js')}}"></script>
<script src="{{url_for('static', filename='/assets/libs/js/dashboard-ecommerce.js')}}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8a4854a6187e0d46","serverTiming":{"name":{"cfL4":true}},"version":"2024.7.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
</body>
</html>
