{% extends 'layout.html' %}
{% block title %}
Login
{% endblock%}

{% block content%}
{% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category,message in messages %}
     <div class="alert alert-{{category}}" role="alert">
       {{message}}
     </div>
    {% endfor %}
  {% endif %}   
{% endwith %}   
<!-- do section -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/all.css') }}">
<section class="do_section layout_padding">
  <div class="container" style="margin-Bottom:40px">
    <div class="heading_container">
      <div class="container text-center">
        <div class="row align-items-end" >
          <div class="col">
            <div class="card" style="width: 18rem;">
              <h1 style="padding-top:20px" >
                <i class="fa-solid fa-users-viewfinder"></i></h1>
               <div class="card-body">
                <h5 class="card-title">BMR</h5>
                <p class="card-text">Basal metabolic rate (BMR) is the rate of energy expenditure per unit time by endothermic animals at rest.</p>
                <a href="/BMR" class="btn btn-primary">Click here</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <h1 style="padding-top:20px" >
                <i class="fa-solid fa-crosshairs"></i></h1>
               <div class="card-body">
                <h5 class="card-title">Pose Detection</h5>
                <p class="card-text">The Pose Detection API is similar to the Facial Recognition API in that it returns a set of landmarks and their location</p>
                <a href="/pose" class="btn btn-primary">Click here</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <h1 style="padding-top:20px" >
                <i class="fa-solid fa-face-smile"></i></h1>
               <div class="card-body">
                <h5 class="card-title">Face Analyze</h5>
                <p class="card-text"></p>Deepface is a lightweight facial analysis framework including face recognition and demography (age, gender, emotion and race) </p>
                <a href="/upload" class="btn btn-primary">Click here</a>
              </div>
            </div>

          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <h1 style="padding-top:20px" >
                <i class="fa-solid fa-object-group"></i></h1>
               <div class="card-body">
                <h5 class="card-title">Mind Reader</h5>
                <p class="card-text"></p>one that professes or is held to be able to perceive another's thought without normal means of communication.</p>
                <a href="/read-your-mind" class="btn btn-primary">Click here</a>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
</section>

{% endblock%}